@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    scroll-behavior: smooth;
}

i {
  color: rgb(255, 175, 27);
  padding: 0;
  margin: 0;
  background-color: transparent;
}

/* Nav Section */
.nav-parent {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  position: fixed;
  width: 100%;
}

.nav-parent i {
  margin-left: 2rem;
}

.nav-child {
  text-decoration: none;
  color: white;
  margin: 10px;
  padding: 10px;
  background-color: transparent;
}

.nav-child:hover {
  color: white;
  background-color: black;
  padding: 10px;
}

/* Hero section */
.hero-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  flex-flow: row wrap;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.hero-logo {
  font-size: 20rem;
  color: rgb(255, 175, 27);
}

.hero-text {
  font-size: 3rem;
  text-align: center;
  color: white;
  border-radius: 10px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: rgb(17, 19, 40);
  padding: 10px;
}

.sub-heading {
  text-transform: uppercase;
  font-size: 0.75rem;
  text-align: center;
  margin-top: 10px;
}

.child {
  background-color: transparent;
}


/* Itinerary section */
.itinerary-heading {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: -100px;
}

.itinerary-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.itinerary-container {
  background-color: rgb(255, 175, 27);
  padding: 100px;
  border-radius: 10px;
  height: auto;
}

#inputField {
  border-radius: 10px;
  border-style: none;
  padding: 10px;
  background-color: white;
  color: rgb(17, 19, 40);
}

#toDo  {
  border-radius: 10px;
  border-style: none;
  padding: 10px;
  background-color: rgb(17, 19, 40);
  color: white;
  cursor: pointer;
}

#container p {
  padding: 4px;
  cursor: pointer;
}

.complete-button {
  background-color: rgb(17, 19, 40);
  border-style: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.remove-button {
  background-color: rgb(17, 19, 40);
  border-style: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin-right: 1rem;
  cursor: pointer;
}
@media screen and (max-width: 400px) {
  .hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    flex-flow: row wrap;
  }

  .hero-logo {
    font-size: 10rem;
  }

  .hero-text {
    font-size: 2rem;
  }
  
  .hero-title {
    font-size: 1rem;
  }
}





